.detail-header-container{
    height: 40px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    
    background-color: #3498db;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    .detail-header-content{
        width: 100%;
        height: 100%;
        display: flex;
        .detail-left-content{
            width: 25%;
            display: flex;
            align-items: center;
            font-size: 15px;
            color: white;
            cursor: pointer;
            
            .custom-link {
                color: white; /* Đặt màu chữ cho liên kết là màu đen */
                text-decoration: none; /* Loại bỏ gạch chân mặc định trên liên kết */
            }
            
            &.hover {
                text-decoration: underline !important; /* Hiển thị gạch chân khi di chuột qua liên kết */
            }

            .text-detail-doctor{
                
                align-items: center;
                margin-left: 20px;
                
                cursor: pointer;
                
            }
            .i{
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }
        .detail-center-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
           .child-content{
                .subs-title{
                    font-weight: 400;
                    font-size: 12px;
                }
           }
        }
        .detail-right-content{
            width: 25%;
            display: flex   ;
            justify-content: center;
            align-items: center;
           
        }
    }
}


// scss của detail doctor
.doctor-detail-container{
    height: 500px;
    

    
    
    .infor-doctor{
        display: flex;
        margin: 0 100px;
        .content-left{
           
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;

            
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-size: cover; /* Để hình ảnh phủ kín khung tròn */
            background-position: center; 

        }
        .content-right{
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-left: 10px;
            margin-top: 10px;
            .up{
                font-size: 20px;
                font-weight: 600;
            }
            .down{
                padding-top: 10px;

            }

        }

    }
    .detail-info-doctor{
        border-top: 1px solid rgb(215, 215, 215);
        background-color: #f9f9f9;
       
        padding: 0 100px;
       


        img{
            vertical-align: middle;
            border-style: none;
            width: 100%;
        }
        .comment-doctor{
            height: 50px;
        }
        

    }
}